body{
    font-family: serif;
    color: black;
    background-color: white;
    font-size: 16px;
}

/*Para inserir dinâmicamente o "endereço do link html" após
o link*/
a:after{
    content: "( " attr(href) " ) ";
    color: darkblue;
    margin-left: 5px;
    display: inline-block;
}
